main {
 width: 90%;
 margin: 0 auto;

 //slider

 .main__slider {
  display: none;
  width: 90%;
  margin: 0 auto;

  .slider__img {
   width: 80%;
   height: 70%;
   position: absolute;

  }

  .slider__img:nth-child(2) {
   opacity: 0;
   animation: photo 20s 2s linear infinite;
  }
 }

 @keyframes photo {
  0% {
   opacity: 0;
  }

  25% {
   opacity: 1;
  }

  50% {
   opacity: 1;
  }

  75% {
   opacity: 0;
  }

  100% {
   opacity: 0;
  }
 }

 //*******************************************************************************************

 //szczyty



}